[defaults]
# become + become_user: Ansible muss Modul-Skripte für den Zielnutzer lesbar machen.
# Ohne funktionierende POSIX-ACLs / passendes chmod schlägt das fehl (z. B. „Ungültiger Modus: A+user:…“).
# Siehe https://docs.ansible.com/ansible-core/latest/playbook_guide/playbooks_privilege_escalation.html#risks-of-becoming-an-unprivileged-user
allow_world_readable_tmpfiles = true
